body{
  font-family: Jockey one;
  background-color: DodgerBlue;
  color:DodgerBlue;
}

.container-fluid{
   padding: 0px;
}

.myHeader{
  padding: 10px;
  background-color: FFA547;
  color:#FAF8072;
  padding-top: 25px;
}

h1{
  font-size: 50px;
}